p {
  color: #eee;
  font-size: 18px;
}
a {
  margin: 0 15px;
}
.noline {
  text-decoration: none;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}
button {
  padding: 10px;
  font-size: 18px;
  color: #eee;
  border: solid 2px #eee;
  border-radius: 5px;
  background: rgba(255, 255, 255,0);
}
button:focus {outline:0;}
.detail {
  position: relative;
  filter: alpha(opacity=30);
}
.detail2 {
  position: absolute;
  bottom: -1vw;
}
.a-link {
  color: #61dafb;
}
.b-link {
  color: #61dafb;
}
canvas {
  z-index: -1;
  left:0;
  top:0;
  position: absolute;
}
.css-10nd86i {
  width: 50vw;
  padding-top: 20px;
  margin: auto;
}
.hide {
  visibility: hidden;
}
.hidden {
  visibility: hidden;
  z-index: 0;
}
.contents {
  position: relative;
  left: 25%;
}
.characters {
  position: absolute;
}
.films {
  position: absolute;
  height: 80vh;
  overflow: hidden;
}
.opening {
  position: relative;
  width: 50vw;
  font-size: 3.5vw;
  top: -44vw;
  margin: auto;
  color: #e9e16f;
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  transform: perspective(400px) rotateX(35deg);
  -webkit-transform: perspective(400px) rotateX(35deg);
  height: 1000px;
}
.outline {
  display: flex;
  justify-content: center;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
